<!DOCTYPE html>
<html>
    <head>
        <title>Login V3</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="vendor/bootstrap/css/bootstrap.min.css"
        />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
        />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="fonts/iconic/css/material-design-iconic-font.min.css"
        />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="vendor/css-hamburgers/hamburgers.min.css"
        />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="vendor/animsition/css/animsition.min.css"
        />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="vendor/select2/select2.min.css"
        />
        <!--===============================================================================================-->
        <link
          rel="stylesheet"
          type="text/css"
          href="vendor/daterangepicker/daterangepicker.css"
        />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/radio.css" />
        <!--===============================================================================================-->
      </head>
  <style>
    [type="radio"] {
      position: absolute;
      opacity: 80;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    [type="radio"] + img {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    [type="radio"]:checked + img {
      outline: 2px solid #f00;
    }

    
  </style>

  <body>
      <div class="limiter">
          <div
            class="container-login100"

          >
            <div class="wrap-login100">
              <form class="login100-form validate-form" method="post" action="/boleto">
                <span class="boleto100-form-title">
                    Olá Dr(a): <%= nome %>, favor escolha uma opção de pagamento
                </span>
                
                
                <div >
                    <input type="radio" name="radio" id="radio1" value="<%= nomearquivodesconto %>" class="radio sr-only" required/>
                    <label for="radio1">Pagamento Integral</label>
                </div>
                    
                <div >
                    <input type="radio" name="radio" id="radio2" value="<%= nomearquivoparcelado %>" class="radio sr-only"   required/>
                    <label for="radio2">Pagamento Parcelado 5 x</label>
                    
                </div>

                <input type="hidden" name="token" id="token" />
                <input type="hidden" name="nome" id="nome" value="<%= nome %>"/>
                <input type="hidden" name="cpfcnpj" id="cpfcnpj" value="<%= cpfcnpj %>"/>
                <input type="hidden" name="numeroregistro" id="numeroregistro" value="<%= numeroregistro %>"/>
                <div width="200px" style="padding: 30px; justify-content: center; display: flex; " >
                  <button type="submit" class="login100-form-btn">
                      Ver Boleto
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
    </form>


    




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=<%= V3_PUBLIC %>"></script>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        "use strict";
        window.addEventListener(
          "load",
          function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName("needs-validation");
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener(
                "submit",
                function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            });
          },
          false
        );
      })();

      function showResult(text) {
        document.querySelector("#result").innerHTML = text;
      }

      function handleClick(token) {
        return function() {
          var hello = document.querySelector("#hello").value;
          var data = {
            hello: hello,
            token: token
          };

          fetch("/", {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json"
            },
            method: "post",
            body: JSON.stringify(data)
          })
            .then(response => response.text())
            .then(text => showResult(text))
            .catch(error => showResult(error));
        };
      }
      var forms = document.getElementsByClassName("needs-validation");

      grecaptcha.ready(function() {
        grecaptcha
          .execute("<%= V3_PUBLIC %>", {
            action: "boleto"
          })
          .then(function(token) {
            var element = document.getElementById("token");
            element.value = token;
          });
      });
    </script>
  </body>
</html>
